<h1>Take#index</h1>
<p>Find me in app/views/take/index.html.erb</p>


<div><%= @current_invite_item.title %></div>
<div><%= @current_invite_item.url %></div>
<div><%= @current_invite_item.description %></div>



<%= button_to 'Take One', invite_code_path(@current_invite_item), remote: true, method: 'put' %>